* {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 5rem;
  font-size: 62.5%;
}

textarea {
  height: 15rem;
  width: 30rem;
  padding: 1rem;
}

button {
  background-color: yellow;
  display: block;
  padding: 0.3rem;
}

.output {
  height: 15rem;
  border: thin solid grey;
  width: 30rem;
  padding: 1rem;
}
